# ============================
# ARCHIVOS DEL SISTEMA
# ============================
*.DS_Store
Thumbs.db

# ============================
# PYTHON
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.env
.venv
venv/
ENV/
env/

# ============================
# JUPYTER
# ============================
.ipynb_checkpoints/

# ============================
# LOGS Y SALIDAS
# ============================
logs/
*.log

# ============================
# MODELOS Y PESOS
# ============================
checkpoints/
*.pth
*.pt
*.ckpt
*.pt   

# ============================
# ARCHIVOS GRANDES
# ============================
*.zip
*.tar
*.tar.gz
*.rar

# ============================
# CARPETA DATA (EXCLUIDA)
# ============================
data/
data/*
data/**

# ============================
# ENTRENAMIENTO / EXPERIMENTOS
# ============================
experiments/
experiments/*
experiments/**

# ============================
# CACHE DE LIBRERÍAS
# ============================
.cache/
huggingface/
transformers/
